<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>

		<div class="container-fluid content-container">

			<div class="row dashboard" style="height: 100%;">

				<div class="col-xs-6 col-xs-offset-3 feed dash-display">

					<div class="row row-eq-height feed_header">

						<h1 class="col-xs-10">Reddit Live</h1>
						<a href="#"><i class="col-xs-2 fa feed-viewable fa-eye-slash fa-inverse"></i></a>

					</div>

					<div class="feed_list">
						
					</div>

				</div>
			</div>

		</div>

	</body>

	<% include ../partials/googleAnalytics.ejs %>

</html>